@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
}

body, button {
    font-family: 'Sora', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;

    background-color: #efefe5;
}

.main{
    margin: 0 3rem;
    width: 100%;
}

.header{
    display: flex;

    margin-bottom: 5rem;
    position: sticky;
     
    margin: 0 5rem;
}

.header__title{
    font-weight: bold;
    font-size: 4rem;

    cursor: default;
}

.hover-effect{
    padding-left: 1rem;
    padding-right: 20rem;
    border-right: black solid 0.85rem;
    transition: 0.65s cubic-bezier(0.77,0,0.18,1);
}

.hover-effect:hover, .hover-effect:focus{
    box-shadow: inset -60rem 0 0 0 black;
    color: #fffc49;
  }

.cont{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));

    grid-row-gap: 5rem;

    justify-items: center;

    margin: 0 5rem;
}

.cont-sect, .cont__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont__text{
    margin-top: 2rem;
}

.cont__title, .cont__subtitle{
    margin: 0;
}

.cont__subtitle{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    width: 15rem;
}

button{
    position: relative;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    width: fit-content;

    background: none;

    outline: none;

    border-radius: 25px;

    overflow: hidden;
    
}

button:disabled{
    color: black;
    border: 2px solid black;
}

#fill-up{
    transition: 0.5s cubic-bezier(0.79,0.14,0.15,0.86);
}

#fill-up:hover, #fill-up:focus{
  box-shadow: inset 0 -3.25em 0 0 black;
  color: #efefe5;
}

#data-shift{
    
    overflow: hidden;
}

#data-shift:hover:before{
    box-sizing: border-box;
    opacity:1;
    transform: translate(0,0);
}

#data-shift:before{
    box-sizing: border-box;
    content: attr(data-shift);
    position: absolute;
    top: 27.3%;
    right: 0%;

    width: 100%;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(-100%,0);
    transition: all .3s cubic-bezier(0.79,0.14,0.15,0.86);
}

#data-shift:hover div{
    box-sizing: border-box;
    opacity: 0;
    transform: translate(100%,0)
}

#data-shift div{
    box-sizing: border-box;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}